<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <title>SR: Card Pass</title>
</head>
<body>

<!--/*@thymesVar id="card" type="pl.skiresort.Model.Projection.CardPassWriteModel"*/-->
<form action="#" method="post" th:action="@{/cardPass/{id}(id=${user.id})}" th:object="${card}">
    <fieldset>
        <legend style="color: red" th:if="${purchaseMessage} != null" th:text="${purchaseMessage}"></legend>
        <legend>Select your card pass:</legend>
        <label>Start date of your card pass:
            <input name="start" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" />
        </label>
        <label>End date of your card pass:
            <input name="end" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" />
        </label>
        <label>Level of your card pass:
            <input type="number" th:field="${card.level}" />
        </label>
    </fieldset>
    <button type="submit">Buy</button>
</form>
</body>
</html>
